.Footer {
    display: flex;
    background-color: var(--footer-background-color);
    flex-direction: column;
    color: var(--text-color);
    align-items: center;
    height: 4.5rem;
    justify-content: center;
}

.Footer p {
    font-size: 1rem;
}

.Footer a {
    color: var(--creater-text);
    text-decoration: none;
}