.AboutMe {
    height: 100vh;
    color: var(--color-white);
    background-color: var(--color-background);
}

.AboutMe > h1 {
    text-align: center;
    padding-top: 1rem;
    font-size: 3rem;
}

.AboutMe > div {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 4rem;
}

.AboutMe > div > p > span {
    color: var(--color-secondary);
}